<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Central de Resíduos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="https://avatars.githubusercontent.com/u/117123091?s=400&u=0a1a39fb647c9ab0765c6f15a8739ef14485ba20&v=4" alt="">

    <h2>Central de Resíduos - ABV</h2>
  <h3>Gerenciamento</h3>
  <br><h6>Agendamentos</h6><hr>
  <a href="#"><h6>Receber Resíduos</h6></a><hr>
  <h6>Estoque na Central</h6>
</ion-content>
